/* Gradient background */
.grad-ro0 { background: linear-gradient(0deg, red, orange); }
.grad-ro90 { background: linear-gradient(90deg, red, orange); }
.grad-ro180 { background: linear-gradient(180deg, red, orange); }
.grad-or0 { background: linear-gradient(0deg, orange, red); }
.grad-or90 { background: linear-gradient(90deg, orange, red); }
.grad-or180 { background: linear-gradient(180deg, orange, red); }

.grad-ry0 { background: linear-gradient(0deg, red, yellow); }
.grad-ry90 { background: linear-gradient(90deg, red, yellow); }
.grad-ry180 { background: linear-gradient(180deg, red, yellow); }
.grad-yr0 { background: linear-gradient(0deg, yellow, red); }
.grad-yr90 { background: linear-gradient(90deg, yellow, red); }
.grad-yr180 { background: linear-gradient(180deg, yellow, red); }

.grad-rg0 { background: linear-gradient(0deg, red, green); }
.grad-rg90 { background: linear-gradient(90deg, red, green); }
.grad-rg180 { background: linear-gradient(180deg, red, green); }
.grad-gr0 { background: linear-gradient(0deg, green, red); }
.grad-gr90 { background: linear-gradient(90deg, green, red); }
.grad-gr180 { background: linear-gradient(180deg, green, red); }

.grad-rb0 { background: linear-gradient(0deg, red, blue); }
.grad-rb90 { background: linear-gradient(90deg, red, blue); }
.grad-rb180 { background: linear-gradient(180deg, red, blue); }
.grad-br0 { background: linear-gradient(0deg, blue, red); }
.grad-br90 { background: linear-gradient(90deg, blue, red); }
.grad-br180 { background: linear-gradient(180deg, blue, red); }

.grad-rp0 { background: linear-gradient(0deg, red, purple); }
.grad-rp90 { background: linear-gradient(90deg, red, purple); }
.grad-rp180 { background: linear-gradient(180deg, red, purple); }
.grad-pr0 { background: linear-gradient(0deg, purple, red); }
.grad-pr90 { background: linear-gradient(90deg, purple, red); }
.grad-pr180 { background: linear-gradient(180deg, purple, red); }
.grad-rv0 { background: linear-gradient(0deg, red, purple); }
.grad-rv90 { background: linear-gradient(90deg, red, purple); }
.grad-rv180 { background: linear-gradient(180deg, red, purple); }
.grad-vr0 { background: linear-gradient(0deg, purple, red); }
.grad-vr90 { background: linear-gradient(90deg, purple, red); }
.grad-vr180 { background: linear-gradient(180deg, purple, red); }

.grad-oy0 { background: linear-gradient(0deg, orange, yellow); }
.grad-oy90 { background: linear-gradient(90deg, orange, yellow); }
.grad-oy180 { background: linear-gradient(180deg, orange, yellow); }
.grad-yo0 { background: linear-gradient(0deg, yellow, orange); }
.grad-yo90 { background: linear-gradient(90deg, yellow, orange); }
.grad-yo180 { background: linear-gradient(180deg, yellow, orange); }

.grad-og0 { background: linear-gradient(0deg, orange, green); }
.grad-og90 { background: linear-gradient(90deg, orange, green); }
.grad-og180 { background: linear-gradient(180deg, orange, green); }
.grad-go0 { background: linear-gradient(0deg, green, orange); }
.grad-go90 { background: linear-gradient(90deg, green, orange); }
.grad-go180 { background: linear-gradient(180deg, green, orange); }

.grad-ob0 { background: linear-gradient(0deg, orange, blue); }
.grad-ob90 { background: linear-gradient(90deg, orange, blue); }
.grad-ob180 { background: linear-gradient(180deg, orange, blue); }
.grad-bo0 { background: linear-gradient(0deg, blue, orange); }
.grad-bo90 { background: linear-gradient(90deg, blue, orange); }
.grad-bo180 { background: linear-gradient(180deg, blue, orange); }

.grad-op0 { background: linear-gradient(0deg, orange, purple); }
.grad-op90 { background: linear-gradient(90deg, orange, purple); }
.grad-op180 { background: linear-gradient(180deg, orange, purple); }
.grad-po0 { background: linear-gradient(0deg, purple, orange); }
.grad-po90 { background: linear-gradient(90deg, purple, orange); }
.grad-po180 { background: linear-gradient(180deg, purple, orange); }
.grad-ov0 { background: linear-gradient(0deg, orange, purple); }
.grad-ov90 { background: linear-gradient(90deg, orange, purple); }
.grad-ov180 { background: linear-gradient(180deg, orange, purple); }
.grad-vo0 { background: linear-gradient(0deg, purple, orange); }
.grad-vo90 { background: linear-gradient(90deg, purple, orange); }
.grad-vo180 { background: linear-gradient(180deg, purple, orange); }

.grad-yg0 { background: linear-gradient(0deg, yellow, green); }
.grad-yg90 { background: linear-gradient(90deg, yellow, green); }
.grad-yg180 { background: linear-gradient(180deg, yellow, green); }
.grad-gy0 { background: linear-gradient(0deg, green, yellow); }
.grad-gy90 { background: linear-gradient(90deg, green, yellow); }
.grad-gy180 { background: linear-gradient(180deg, green, yellow); }

.grad-yb0 { background: linear-gradient(0deg, yellow, blue); }
.grad-yb90 { background: linear-gradient(90deg, yellow, blue); }
.grad-yb180 { background: linear-gradient(180deg, yellow, blue); }
.grad-by0 { background: linear-gradient(0deg, blue, yellow); }
.grad-by90 { background: linear-gradient(90deg, blue, yellow); }
.grad-by180 { background: linear-gradient(180deg, blue, yellow); }

.grad-yp0 { background: linear-gradient(0deg, yellow, purple); }
.grad-yp90 { background: linear-gradient(90deg, yellow, purple); }
.grad-yp180 { background: linear-gradient(180deg, yellow, purple); }
.grad-py0 { background: linear-gradient(0deg, purple, yellow); }
.grad-py90 { background: linear-gradient(90deg, purple, yellow); }
.grad-py180 { background: linear-gradient(180deg, purple, yellow); }
.grad-yv0 { background: linear-gradient(0deg, yellow, purple); }
.grad-yv90 { background: linear-gradient(90deg, yellow, purple); }
.grad-yv180 { background: linear-gradient(180deg, yellow, purple); }
.grad-vy0 { background: linear-gradient(0deg, purple, yellow); }
.grad-vy90 { background: linear-gradient(90deg, purple, yellow); }
.grad-vy180 { background: linear-gradient(180deg, purple, yellow); }

.grad-gb0 { background: linear-gradient(0deg, green, blue); }
.grad-gb90 { background: linear-gradient(90deg, green, blue); }
.grad-gb180 { background: linear-gradient(180deg, green, blue); }
.grad-bg0 { background: linear-gradient(0deg, blue, green); }
.grad-bg90 { background: linear-gradient(90deg, blue, green); }
.grad-bg180 { background: linear-gradient(180deg, blue, green); }

.grad-gp0 { background: linear-gradient(0deg, green, purple); }
.grad-gp90 { background: linear-gradient(90deg, green, purple); }
.grad-gp180 { background: linear-gradient(180deg, green, purple); }
.grad-pg0 { background: linear-gradient(0deg, blue, purple); }
.grad-pg90 { background: linear-gradient(90deg, blue, purple); }
.grad-pg180 { background: linear-gradient(180deg, blue, purple); }
.grad-gv0 { background: linear-gradient(0deg, green, purple); }
.grad-gv90 { background: linear-gradient(90deg, green, purple); }
.grad-gv180 { background: linear-gradient(180deg, green, purple); }
.grad-vg0 { background: linear-gradient(0deg, blue, purple); }
.grad-vg90 { background: linear-gradient(90deg, blue, purple); }
.grad-vg180 { background: linear-gradient(180deg, blue, purple); }

.grad-pb0 { background: linear-gradient(0deg, blue, purple); }
.grad-pb90 { background: linear-gradient(90deg, blue, purple); }
.grad-pb180 { background: linear-gradient(180deg, blue, purple); }
.grad-bp0 { background: linear-gradient(0deg, purple, blue); }
.grad-bp90 { background: linear-gradient(90deg, purple, blue); }
.grad-bp180 { background: linear-gradient(180deg, purple, blue); }

.grad-vb0 { background: linear-gradient(0deg, blue, purple); }
.grad-vb90 { background: linear-gradient(90deg, blue, purple); }
.grad-vb180 { background: linear-gradient(180deg, blue, purple); }
.grad-bv0 { background: linear-gradient(0deg, purple, blue); }
.grad-bv90 { background: linear-gradient(90deg, purple, blue); }
.grad-bv180 { background: linear-gradient(180deg, purple, blue); }